<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{header :: headerFrag}"></div>
<div class = "mx-auto mt-5 w-75">

<table class = "table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th class="text-nowrap">User Id</th>
            <th class="text-nowrap">First name</th>
            <th class="text-nowrap">Last name</th>
            <th class="text-nowrap">Email</th>
            <th class="text-nowrap">Username</th>
            <th>Contact</th>
            <th class="text-nowrap">Assigned role</th>
            <th class="text-nowrap">Change Role</th>
            <th class="text-nowrap">Remove User ?</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user,iterator : ${listAllusers}" th:if="${#authentication.name != user.getUsername()}">
            <td th:text="${iterator.index+1}"/>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getFirstName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getUsername()}"/>
            <td th:text="${user.getContact()}"/>
            <td th:text="${user.getRole().getRole()}"/>
            <td th:switch="${user.getRole().getRole()}">
                <a th:case="'ROLE_ADMIN'" th:href="@{admin/changeRole(username=${user.username})}" class="btn btn-secondary">Assign role USER</a>
                <a th:case="'ROLE_USER'" th:href="@{admin/changeRole(username=${user.username})}" class="btn btn-secondary">Assign role ADMIN</a>
            </td>
            <td><a th:href="@{admin/deleteUser(username=${user.username})}" class="btn btn-danger btn-sm">Delete User</a></td>
        </tr>
    </tbody>

</table>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>