<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Conduit</title>
</head>

<body>
<div th:replace="~{header :: headerFrag}"></div>
<main>
    <nav class = "navbar navbar-expand-sm navbar-light bg-light">
        <div class = "container">
            <p class = "navbar-brand">Welcome <span th:text="${user.getFirstName()}"/> <span th:text="${user.getLastName()}"/>,</p>
            <ul class = "navbar-nav">
                <li class="nav-item dropdown mr-2">
                                        <a href="#" class="nav-link dropdown-toggle btn btn-outline-success" data-toggle="dropdown">View</a>
                                        <div class="dropdown-menu">
                                            <a th:href="@{/blogsFeed(user=${user.username})}" class="dropdown-item">Blogs</a>
                                            <a th:href="@{/draftsFeed(user=${user.username})}" class="dropdown-item">Drafts</a>
                                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/AllBlogsFeed(user=${user.username})}" class="dropdown-item">All Blogs</a>
                                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/AllDraftsFeed(user=${user.username})}" class="dropdown-item">All Drafts</a>
                                        </div>
                </li>
            </ul>
        </div>
    </nav>


        <div class="w-50 m-auto">
        <ul class="list-group list-group-flush my-4">
            <li class="list-group-item" th:each="blog : ${blogs}">
                <div class="card">
                    <div class="card-header h3" style="font-family: 'Karla', sans-serif;"><i class="fas fa-newspaper"></i>
                        <span th:text="${blog.title}"/><button class="btn btn-outline-danger btn-sm float-right"><i class="fas fa-heart mr-1"></i>0</button><br>
                        <small th:if="${blog.isPublished()}" class="text-muted" style="font-size: 1.2rem;">Published on:&nbsp<span th:text = "${blog.updated_on}"></span></small>
                            <small th:if="${!blog.isPublished()}" class="text-muted" style="font-size: 1.2rem;">Created on:&nbsp<span th:text = "${blog.createdOn}"></span></small>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><span th:text="${blog.subject}"></span></h4>
                        <p class="card-text" style="white-space: nowrap;overflow: hidden;" th:text="${blog.content}"/>
                        <i class="fas fa-user-circle fa-2x mr-2"></i><span class = "lead font-weight-bold" style="font-size: 2vh;vertical-align: top;" th:text="${blog.user.getUsername()}"/><br>
                        <a th:href="@{displayBlog(blogId=${blog.id})}" class="btn btn-danger mt-3">Read more</a>
                    </div>
                    <div class="card-footer text-muted">
                        <ul class="list-unstyled">
                            <li class="list-inline-item" th:each="tag : ${blog.getTags()}"><a th:href="@{tag(tagId=${tag.id})}"><span th:text="${tag.getTagName()}"/></a></li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</main>
<nav>
    <ul class="pagination justify-content-center">

        <li class="page-item" th:if="${blogs.totalPages > 0}" th:each="i : ${#numbers.sequence(0,blogs.getTotalPages()-1)}"><a th:href="@{/userFeed/(page=${i})}" th:text="${i+1}" class="page-link"></a></li>

    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>