<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Conduit</title>
</head>

<body>
    <div sec:authorize="isAuthenticated()" th:replace="~{headerSignedIn :: headerFrag}"></div>
    <div class="container mt-4">
        <form action = "#" th:action="@{/save}" th:object="${blog}" method="POST">
            <div class = "form-group dropdown">
                <div class="form-group">
                <label for="author">Author:</label>
                    <span th:switch="${author.isEmpty()}">
                <input type="text" th:case="true" th:value="${#authentication.name}" class="form-control" th:name="authorName" id="author" readonly>
                        <input type="text" th:case="false" th:value="${author}" th:name="authorName" class="form-control" id="author" readonly>
                    </span>
                </div>
              </div>

            <div class = "form-group">
              <label for="name">Title</label>
              <input class = "form-control" th:field="*{title}" type="text" id="name" placeholder="Enter blog title">
                <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></small>
            </div>
      
            <div class = "form-group">
              <label for="text">Subject</label>
              <input class = "form-control" th:field="*{subject}" type="text" id="text" placeholder="Enter blog subject">
                <small th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" class="text-danger"></small>
            </div>

            <div class= "form-group">
                <label for="message">Blog</label>
                <textarea class = "form-control" th:field="*{content}" id="message" rows="6" placeholder="Content goes here..."></textarea>
                <small th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></small>
              </div>

            <div class = "form-group">
                <label for="tags">Tags</label>
                <input class = "form-control" th:field="*{blogTags}" type="text" id="tags" placeholder="Enter tags separated by commas...">
              </div>

            <input type="hidden" th:field="*{id}"/>

              <button type="submit" class="btn btn-success">Publish blog</button>

            <button type="submit" th:formaction="@{/saveAsDraft}" class="btn btn-info">Save as Draft</button>

          </form>
        <br>
        <hr>
        <a th:href="@{/}">Back to main page</a>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
