<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title th:text = "${blog.title}"></title>
  </head>
<body>
<div th:replace="~{blogHeader :: headerBlogFrag}"></div>

<div class="bg-dark p-5 text-light" style="font-family: 'Karla', sans-serif;">
    <div class="container">
  <h1 class="display-4" style="font-family: 'Karla', sans-serif;" th:text="${blog.title}"/>
        <i class="fas fa-user-circle fa-2x"></i>
  <span class="" style="font-size:3vh;" th:text="${blog.user.getUsername()}"></span><br>
  <p class="text-muted" th:text="${blog.published_on}"/><br>


        <a sec:authorize="hasRole('USER')" th:if="${#authentication.name == blog.getUser().getUsername()}" th:href="@{updateBlog(blogId=${blog.id})}" class="btn btn-info float-right ml-3">Update blog</a>
  <a sec:authorize="hasRole('USER')" th:if="${#authentication.name == blog.getUser().getUsername()}" th:href="@{deleteBlog(blogId=${blog.id})}" class="btn btn-danger float-right" onclick="if (!(confirm('Are you sure you want to delete this blog ?'))) return false">Delete blog</a>

        <a sec:authorize="hasRole('ADMIN')"  th:href="@{updateBlog(blogId=${blog.id})}" class="btn btn-info float-right ml-3">Update blog</a>
        <a sec:authorize="hasRole('ADMIN')"  th:href="@{deleteBlog(blogId=${blog.id})}" class="btn btn-danger float-right" onclick="if (!(confirm('Are you sure you want to delete this blog ?'))) return false">Delete blog</a>

    </div>

</div>
<div class="d-inline-block float-right mt-5" style="width:10vw;margin-right:4vw;">
    <h2 class="display-4">Tags</h2>
    <a th:href="@{tag(tagId=${tag.id})}" class="btn btn-outline-secondary ml-2 mt-3" th:each="tag : ${blog.getTags()}" th:text="${tag.getTagName()}"></a>
</div>
<div class="container w-50 mt-5">

  <p class="lead" th:text="${blog.content}" style="border:1px solid black;"/>

  <hr>

  <ul class = "list-group list-group-flush">
    <li class="list-group-item" th:each="comment : ${commentList}">
  <div class="card">
    <div class="card-body">
      <i class="fas fa-comments fa-2x" style="vertical-align:top;"></i>
      <h5 class="card-title d-inline-block " th:text="${comment.getUser().getUsername()}" style="text-transform: capitalize;">username</h5>
        <small class = "card-subtitle d-block ml-4 float-right">Posted on <span th:text="${comment.updated_on}"></span></small><br>
      <p class="card-text lead ml-2" th:text="${comment.getBody()}">comment body</p>

        <span th:switch="${#authentication.name==comment.getUser().getUsername()}">
        <a th:case="true" sec:authorize="hasAnyRole('USER','ADMIN')" th:href="@{updateComment(commId=${comment.id},blogId=${blog.id})}" class="btn btn-warning btn-sm">Edit</a>
      <a th:case="false" sec:authorize="hasRole('ADMIN')" th:href="@{updateComment(commId=${comment.id},blogId=${blog.id})}" class="btn btn-warning btn-sm">Edit</a>
        </span>
        <span th:switch="${#authentication.name==comment.getUser().getUsername()}">
      <a th:case="true" sec:authorize="hasAnyRole('USER','ADMIN')"  th:href="@{deleteComment(commId=${comment.id},blogId=${blog.id})}" class="btn btn-danger btn-sm">Delete</a>
            <a th:case="false" sec:authorize="hasRole('ADMIN')" th:href="@{deleteComment(commId=${comment.id},blogId=${blog.id})}" class="btn btn-danger btn-sm">Delete</a>
        </span>
    </div>
  </div>
</li>
  </ul>
  <br>
<!--    "@{/displayBlog/(blogId=${blog.id})}"-->
<!--    @{/displayBlog/{blog_Id}/comment/(blog_Id=${blog.id})}-->
  <form sec:authorize="hasAnyRole('ADMIN','USER')" action = "#" th:action="@{/displayBlog(blogId=${blog.id})}" th:object="${comment}" method="POST">

    <div class="form-group container">
      <textarea class="form-control" th:field="*{body}" rows="5" placeholder="Enter comment..."></textarea>
        <small th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="text-danger"></small>
    </div>
    <div>
      <input type="text" class="form-control" th:value="${#authentication.name}" readonly>
    </div>
    <br>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{user}"/>
    <br>
    <button type="submit" class="form-control btn btn-info">Post comment</button>
    
  </form>


  
    <br>
    <hr>
    <a th:href="@{/}">Back to main page</a>
    <br><br>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>