<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Conduit</title>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light nav-pills py-2">
        <div class="container">
            <a class="navbar-brand text-success font-weight-bold text-spacing" th:href="@{/}">Conduit</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a th:href="@{/admin}" sec:authorize="hasRole('ADMIN')" class="nav-link" href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/signIn}" class="nav-link text-nowrap" sec:authorize="!isAuthenticated()">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/signUp}" class="nav-link text-nowrap" sec:authorize="!isAuthenticated()">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-nowrap" th:href="@{/createBlog}">Create blog</a>
                    </li>
                </ul>
                <form action="#" th:action="@{/search}" class="form-inline">
                    <input type="text" th:name="search" class="form-control mr-sm-2" placeholder="Search...">
                    <select class="form-control mr-sm-2" th:name="field">
                        <option>Title</option>
                        <option>Content</option>
                        <option>Author</option>
                        <option>Tags</option>
                    </select>
                    <button class="btn btn-outline-primary">Search</button>
                </form>

                    <form sec:authorize="!isAuthenticated()" class="form-inline" th:action="@{/userFeed}">
                        <button class = "form-control btn btn-primary ml-3 btn">My Account</button>
                    </form>


                    <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/userFeed}">
                        <button class = "form-control btn btn-primary ml-3 btn" th:text="${#authentication.name}"></button>
                    </form>
                
                <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="POST">
                    <button class = "form-control btn btn-primary ml-3">Logout</button>
                </form>

            </div>
        </div>
    </nav>
    <div class="bg-success text-center py-4">
        <h1 class="text-light display-4 font-weight-bold">Conduit</h1>
        <p class=" lead text-light">A place to share your knowledge</p>
    </div>
</div>

<main>

    <h2 th:if="${blogs == null or blogs.totalPages <= 0}" class = "text-center mt-5">NO RESULTS FOUND. PLEASE TRY AGAIN.</h2>
    <div class="w-50 m-auto">
        <ul class="list-group list-group-flush my-4">
            <li class="list-group-item" th:each="blog : ${blogs}">
                <div class="card">
                    <div class="card-header h3" style="font-family: 'Karla', sans-serif;"><i class="fas fa-newspaper"></i>
                        <span th:text="${blog.title}"/><button class="btn btn-outline-danger btn-sm float-right"><i class="fas fa-heart mr-1"></i>0</button><br>
                        <small class="text-muted"><span th:text = "${blog.published_on}"/></small>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><span th:text="${blog.subject}"></span></h4>
                        <p class="card-text" style="white-space: nowrap;overflow: hidden;" th:text="${blog.content}"/>
                        <i class="fas fa-user-circle fa-2x mr-2"></i><span class = "lead font-weight-bold" style="font-size: 2vh;vertical-align: top;" th:text="${blog.user.getUsername()}"/><br>
                        <a th:href="@{displayBlog(blogId=${blog.id})}" class="btn btn-danger mt-3">Read more</a>
                    </div>
                    <div class="card-footer text-muted">
                        <ul class="list-unstyled">
                            <li class="list-inline-item" th:each="tag : ${blog.getTags()}"><a th:href="@{tag(tagId=${tag.id})}"><span th:text="${tag.getTagName()}"/></a></li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</main>
<nav>
    <ul class="pagination justify-content-center" th:if="${blogs != null}">
        <input type="hidden" th:value="${field}">
        <input type="hidden" th:value="${keyword}">
        <li class="page-item" th:if="${blogs.totalPages > 0}" th:each="i : ${#numbers.sequence(0,blogs.getTotalPages()-1)}"><a th:href="@{/search(page=${i},field=${field},search=${keyword})}" th:text="${i+1}" class="page-link"></a></li>

    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>


</html>