<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Conduit</title>
</head>

<body>
<div th:replace="~{header :: headerFrag}"></div>

<div class="container mt-5 w-25">
    <form action = "#" th:action="@{/login}" method="POST">
    <fieldset>

        <div class = "form-group">
            <label for="fname">Username</label>
            <input class = "form-control" type="text" id="fname" name="username" placeholder="Enter first name">
        </div>


        <div class = "form-group">
            <label for="password">Password</label>
            <input class = "form-control" type="password" id="password" name="password" placeholder="Enter password">
        </div>
        <p th:if="${param.error}" class="alert text-danger">INVALID USERNAME/PASSWORD</p>
        <a th:href="@{/forgotPassword}" class = "text-primary float-right"><small>Forgot password ?</small></a><br>
        <input type="submit" class="mt-4 btn btn-primary btn-block" value="Sign in"></input>
        <p class = "mt-3">New user ? Sign up.</p>
        <a th:href="@{/signUp}" class="btn btn-primary btn-block">Sign up</a>
    </fieldset>
    </form>
    <br>
    <hr>
    <a th:href="@{/}">Back to main page</a>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>