<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <title>Conduit</title>
</head>

<body>
<div th:replace="~{header :: headerFrag}"></div>

<div class="container mt-4 w-25">

    <p th:if="${success!=null}" th:text="${success}" class="alert alert-success"></p>
    <form action = "#" th:action="@{/saveUser}" th:object="${user}" method="POST">


        <div class = "form-group">
            <label for="fname">First name</label>
            <input class = "form-control" th:field="*{firstName}" type="text" id="fname" placeholder="Enter first name">
            <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></small>
        </div>



        <div class = "form-group">
            <label for="lname">Last name</label>
            <input class = "form-control" th:field="*{lastName}" type="text" id="lname" placeholder="Enter last name">
            <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></small>
        </div>

        <div class = "form-group">
            <label for="email">Email</label>
            <input class = "form-control" th:field="*{email}" type="email" id="email" placeholder="Enter email">
            <small th:if="${userExists==true}" class = "text-danger">USER ALREADY EXISTS. PLEASE TRY AGAIN.</small>
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
        </div>


        <div class = "form-group">
            <label for="contact">Phone</label>
            <input class = "form-control" th:field="*{contact}" type="number" id="contact" placeholder="Enter phone number">
            <small th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="text-danger"></small>
        </div>

        <div class = "form-group">
            <label for="username">Username</label>
            <input class = "form-control" th:field="*{username}" type="text" id="username" placeholder="Enter username">
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
        </div>

        <div class = "form-group">
            <label for="password">Password</label>
            <input class = "form-control" th:field="*{password}" type="password" id="password" placeholder="Enter password">
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
        </div>


        <div class = "form-group">
            <label for="confirmpassword">Confirm Password</label>
            <input class = "form-control" type="password" id="confirmpassword" placeholder="Enter password again">
        </div>

        <br>
        <button type="submit" class="btn btn-success btn-block">Submit</button>


    </form>
    <br>
    <hr>
    <a th:href="@{/}" class="pb-4">Back to main page</a>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>